<!DOCTYPE html>
<html lang="en-EN" data-bs-theme="dark">
  {% include 'template_parts/head.html.twig' %}
  <body>
    <header>
      {% include 'template_parts/navbar.html.twig' %}
    </header>
    <main>
      <section class="container pt-5 pb-3">
        <div class="row">
          <div class="col-lg-6 col-md-8 col-sm-12">
            <form method="POST" enctype="multipart/form-data" action="/admin/storage/upload">
              <div class="mb-3 d-flex flex-row">
                <input class="form-control" type="file" name="files[]" id="upload" multiple>
                <button type="submit" class="btn btn-primary ms-2"> Upload </button>
              </div>
            </form>
          </div> 
        </div>
      </section>
      <section>
        <div class="container">
          <table class="table">
            <thead>
              <tr>
                <th scope="col"> # </th>
                <th scope="col"> File </th>
                <th scope="col"> Modified Date </th>
                <th scope="col"> Mime-Type </th>
                <th scope="col"> Size (bytes) </th>
                <th scope="col">  </th>
              </tr>
            </thead>
            <tbody>
              {% if assets is not null %}
                {% for asset in assets %}
                  <tr>
                    <th scope="row"> {{ asset.get('ID') }} </th>
                    <td> <a href="{{ asset.getRoute() }}" target="_blank"> {{ asset.get('path') }} </a> </td>
                    <td> {{ asset.get('modifiedAt') | date("d/m/Y h:i:s") }}  </td>
                    <td> {{ asset.get('mimeType') }} </td>
                    <td> {{ asset.get('size') }} </td>
                    <td>  
                      <button type="button" 
                        data-media-id="{{ asset.get('ID') }}" 
                        class="btn-close delete" 
                        aria-label="Close">
                      </button> 
                    </td>
                  </tr>
                {% endfor %}
              {% else %}
                <tr>
                  <th scope="row"> 0 </th>
                  <td> Still nothing... </td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              {% endif %}
            </tbody>
          </table>
          <nav aria-label="Page navigation example">
            <ul class="pagination pagination-sm mb-0">
              <li class="page-item">
                <a class="page-link {% if prevPage == currentPage %} disabled {% endif %}" href="?page={{ prevPage }}" aria-label="Previous">
                  <span aria-hidden="true"> &laquo; </span>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link disabled" href="javascript:void(0)"> {{ currentPage }} </a>
              </li>
              <li class="page-item">
                <a class="page-link {% if nextPage == currentPage %} disabled {% endif %}" href="?page={{ nextPage }}" aria-label="Next">
                  <span aria-hidden="true"> &raquo; </span>
                </a>
              </li>
            </ul>
          </nav>
          <script type="text/javascript" defer>
            (function() {
              'use-strict'
              document.addEventListener('DOMContentLoaded', function() {
                const $ = jQuery.noConflict();
                const deleteBtns = $('table.table button.delete');
                deleteBtns.each(function() {
                  this.addEventListener('click', function(event) {
                    const mediaId = this.getAttribute('data-media-id');
                    const route = `/admin/storage/delete/${mediaId}`;
                    $.ajax({
                      url: route,
                      type: 'POST',
                      complete: function() {
                        window.location.reload();
                      }
                    });
                  });
                });
              });
            })();
          </script>
        </div>
      </section>
    </main>
    <footer></footer>
  </body>
</html>