<!DOCTYPE html>
<html lang="en-EN" data-bs-theme="dark">
  {% include 'template_parts/head.html.twig' %}
  <body>
    <header>
      {% include 'template_parts/navbar.html.twig' %}
    </header>
    <main>
      <section class="container pt-5 pb-3">
        <div class="row">
          <div class="col-lg-6 col-md-8 col-sm-12">
            <form method="POST" enctype="multipart/form-data" action="/admin/storage/upload" id="media-upload">
              <div class="mb-3 d-flex flex-row">
                <input class="form-control" type="file" name="files[]" multiple>
                <button type="submit" class="btn btn-primary ms-2"> Upload </button>
              </div>
            </form>
          </div> 
        </div>
      </section>
      <section>
        <div class="container">
          <table class="table">
            <thead>
              <tr>
                <th scope="col"> # </th>
                <th scope="col"> File </th>
                <th scope="col"> Modified Date </th>
                <th scope="col"> Mime-Type </th>
                <th scope="col"> Size (bytes) </th>
                <th scope="col">  </th>
              </tr>
            </thead>
            <tbody>
              {% if assets is not null %}
                {% for asset in assets %}
                  <tr>
                    <th scope="row"> {{ asset.getId() }} </th>
                    <td> <a href="{{ asset.getRoute() }}" target="_blank"> {{ asset.get('path') }} </a> </td>
                    <td> {{ asset.get('modifiedAt') | date("d/m/Y h:i:s") }}  </td>
                    <td> {{ asset.get('mimeType') }} </td>
                    <td> {{ asset.get('size') }} </td>
                    <td>  
                      <button type="button" 
                        data-media-id="{{ asset.get('ID') }}" 
                        class="btn-close delete-modal-trigger"
                        data-bs-toggle="modal" 
                        data-bs-target="#delete-modal" 
                        aria-label="Close">
                      </button> 
                    </td>
                  </tr>
                {% endfor %}
              {% else %}
                <tr>
                  <th scope="row"></th>
                  <td> Still nothing to show </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              {% endif %}
            </tbody>
          </table>
          {% if assets is not empty %}
          <nav aria-label="Page navigation example">
            <ul class="pagination pagination-sm mb-0">
              <li class="page-item">
                <a class="page-link {% if prevPage == currentPage %} disabled {% endif %}" href="?page={{ prevPage }}" aria-label="Previous">
                  <span aria-hidden="true"> &laquo; </span>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link disabled" href="javascript:void(0)"> {{ currentPage }} </a>
              </li>
              <li class="page-item">
                <a class="page-link {% if nextPage == currentPage %} disabled {% endif %}" href="?page={{ nextPage }}" aria-label="Next">
                  <span aria-hidden="true"> &raquo; </span>
                </a>
              </li>
            </ul>
          </nav>
          {% endif %}
          <div class="modal fade" id="delete-modal" tabindex="-1" aria-labelledby="delete-modal-label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content">
                <form method="POST" enctype="multipart/form-data" action="/admin/storage/delete" id="media-delete">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="delete-modal-label"> Are you sure? </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body"> 
                    <input type="hidden" name="media">
                    Are you sure you want to <b>delete</b> the selected media? 
                    </br> Please <b>confirm</b> using the button below.
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary"> Confirm </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <script type="text/javascript" defer>
            (function() {
              'use-strict'
              document.addEventListener('DOMContentLoaded', function() {
                const $ = jQuery.noConflict();
                const mediaDeleteField = $('form#media-delete input[name="media"]');
                const deleteTriggers = $('button.delete-modal-trigger');
                deleteTriggers.each(function() {
                  this.addEventListener('click', function(event) {
                    const media = this.getAttribute('data-media-id');
                    mediaDeleteField.val(media);
                  });
                });
              });
            })();
          </script>
        </div>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
